<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @user.name %>'s Posts and Comments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-profile {
            display: flex;
            margin-bottom: 20px;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        img {
            max-width: 260px;
            height: auto;
            border-radius: 50%;
            margin-right: 20px; /* Spacing between image and user details */
        }

        .user-content {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
        }

        .user-content a {
            text-decoration: none;
            color: #333;
        }

        .user-name {
            font-size: 32px;
        }

        .user-details {
            font-size: 16px;
            color: #777;
            flex-grow: 1; /* Allows user-details to grow and fill available space */
        }

        .num-posts {
            align-self: flex-end; /* Aligns number of posts to the bottom of the list item */
            font-size: 16px;
            color: #777;
        }

        .post {
            border: 2px solid #ccc;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #ffffff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .post h2 {
            margin-top: 0;
            font-size: 24px;
            color: #333;
        }

        .post p {
            font-size: 18px;
            color: #555;
        }

        .post a {
            text-decoration: none;
            color: #007bff;
        }

        .right-status {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }

        li {
            text-decoration: none;
            list-style: none;
            padding: 15px;
            background-color: #fff;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .create-post {
            margin-bottom: 20px;
        }

        .comments {
            margin-top: 15px;
            font-size: 16px;
            color: #777;
        }

        .comments p {
            margin: 0;
        }

        .comments ul {
            margin: 0;
            padding-left: 20px;
            list-style: disc;
        }

        .comments ul li {
            margin-bottom: 5px;
            color: #555;
        }
    </style>
</head>
<body>

<div class="container">
    <li class = "user-profile">
        <%= image_tag @user.photo if @user.photo.attached? %>
        <div class="user-content">
            <div class="user-name"><%= @user.name %></div>
            <div class="num-posts">Number of Posts: <%= @user.posts_counter %></div>
        </div>
    </li>
    <div class="create-post">
        <%= link_to 'New Post', new_user_post_path(@user) %>
    </div>

    <% @posts.each do |post| %>
        <div class="post">
             <h2><a href="<%= user_post_path(@user, post) %>"><%= post.title %></a></h2>
            <p><%= post.text %></p>
            <div class="comments">
                <div class="right-status">
                    <P><%= post.likes.count %> Like</p>
                    <p><%= post.comments.count %> Comments</p>
                </div>
                <ul>
                    <% post.recent_comments.each do |comment| %>
                        <li><%= comment.author.name %>: <%= comment.text %></li>
                    <% end %>
                </ul>
            </div>
            <div class="action-buttons">

            <div>
                <%= form_with url: user_post_likes_path(@user, post), method: :post, remote: true do |form| %>
                    <%= form.submit "Like" %>
                <% end %>
                <%= post.likes_counter %>
            </div>
            <%= link_to 'Add Comment', new_user_post_comment_path(@user, post) %>

            <% if user_signed_in? && current_user == post.author %>
                <%= form_with url: user_post_path(@user, post), method: :delete, remote: true do |form| %>
                    <%= form.submit "Delete" %>
                <% end %>
            <% end %>

        </div>
        </div>
    <% end %>
    <button type="button"><%= link_to "Back to users", users_path %></button>
</div>

</body>
</html>
