<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @user.name %>'s Posts and Comments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .user-header {
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid #007bff;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }

        .user-header h2 {
            margin: 0;
            font-size: 24px;
            color: #555;
        }

        .user-header h3 {
            margin: 0;
            font-size: 20px;
            color: #333;
        }

        .user-header p {
            margin: 0;
            font-size: 18px;
            color: #555;
        }

        .left-corner {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: center; /* Vertically center the text in the header */
        }

        .right-corner {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }

        .comments {
            margin-top: 20px;
        }

        .comments ul {
            margin: 0;
            padding-left: 20px;
            list-style: disc;
        }

        .comments ul li {
            margin-bottom: 10px;
            font-size: 18px;
            color: #555;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="user-header">
        <div class="left-corner">
            <h2>Post #<%= @targated_post.id %> by <%= @user.name %></h2>
        </div>
        <div class="right-corner">
            <p>Likes: <%= @targated_post.likes_counter %></p>
            <p>Comments: <%= @targated_post.comments_counter %></p>
        </div>
    </div>
    <h3><%= @targated_post.text %></h3>

  <div class="comments">
    <!-- Link to create a new comment -->
    <% if can? :create, Comment%>
        <%= link_to 'Add Comment', new_user_post_comment_path(@user, @targated_post) %>
    <% end %>
    <ul>
      <% @comments.reverse.each do |comment| %>
        <li><%= comment.author.name %>: <%= comment.text %></li>
        <% if can? :destroy, comment %>
            <%= form_with url: user_post_comment_path(@user, @targated_post, comment), method: :delete, remote: true do |form| %>
                <%= form.submit "Delete" %>
            <% end %>
        <% end %>



      <% end %>
    </ul>
  </div>
  <a href="/users/<%=@user.id%>/posts"><button type="button">back to posts</button></a>
</div>

</body>
</html>
